$c-white: #fff;
$c-black: #333;
$c-grey: #dfdfdf;

$c-news-main: #e20101;
$c-news-dark: #ae160c;
$c-news-light: #ec4f36;

$c-opinion-main: #ee6401;
$c-opinion-dark: #bf5302;
$c-opinion-light: #f17e01;

$c-sport-main: #0083ca;
$c-sport-dark: #00558b;
$c-sport-light: #3ea9e4;

$c-lifestyle-main: #bf3682;
$c-lifestyle-dark: #7b1b6a;
$c-lifestyle-light: #f3abcd;

$c-arts-main: #ac8853;
$c-arts-dark: #6c583e;
$c-arts-light: #ebcd9c;
