body,
html {
    margin: 0;
    font-family: 'Guardian Text Sans Web';
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: $c-white;
}
