body,
html {
    margin: 0;
    font-family: 'Guardian Text Sans Web';
    -webkit-font-smoothing: antialiased;
    background: transparent;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
