@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Light.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Light.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-LightItalic.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-LightItalic.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Regular.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Regular.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Regular.ttf') format('truetype');
    font-weight: normal; // 400
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-RegularItalic.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-RegularItalic.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-RegularItalic.ttf') format('truetype');
    font-weight: normal; // 400
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Medium.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Medium.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-MediumItalic.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-MediumItalic.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Semibold.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Semibold.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-SemiboldItalic.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-SemiboldItalic.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Bold.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Bold.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Bold.ttf') format('truetype');
    font-weight: bold; // 700
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-BoldItalic.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-BoldItalic.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-BoldItalic.ttf') format('truetype');
    font-weight: bold; // 700
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Black.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Black.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-BlackItalic.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-BlackItalic.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHGuardianHeadline/GHGuardianHeadline-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Figures';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHFGuardianDisplayFigures/GHFGuardianDisplayFigures-Bold.woff2') format('woff2'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHFGuardianDisplayFigures/GHFGuardianDisplayFigures-Bold.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GHFGuardianDisplayFigures/GHFGuardianDisplayFigures-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Text Egyptian Web';
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.eot');
    src: url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.eot?#iefix') format('embedded-opentype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.ttf') format('truetype'),
         url('https://interactive.guim.co.uk/fonts/latin1/Guardian Text Egyp Web-Reg.svg#Guardian Egyp Web-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Regular.eot');
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Regular.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Regular.ttf') format('truetype'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Regular.svg#Guardian Sans Web-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Guardian Sans Web';
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Semibold.eot');
    src: url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Semibold.eot?#iefix') format('embedded-opentype'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Semibold.woff') format('woff'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Semibold.ttf') format('truetype'),
         url('https://interactive.guim.co.uk/fonts/guss-webfonts/GuardianSansWeb/GuardianSansWeb-Semibold.svg#Guardian Sans Web-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}
