// neutrals
$c-black: #121212;
$c-dark-grey: #767676;
$c-grey: #999;
$c-light-grey: #dcdcdc;
$c-opinion-white: #fef9f5;
$c-off-white: #f6f6f6;
$c-white: #ffffff;

$c-yellow: #ffe500;

// news palette
$c-red: #c70000;
$c-dark-red: #880105;
$c-light-red: #ff4e36;

// opinion palette
$c-orange: #e05e00;
$c-dark-orange: #bd5318;
$c-light-orange: #ff7f0f;

// sport palette
$c-blue: #0084c6;
$c-dark-blue: #005689;
$c-light-blue: #00b2ff;

// culture palette
$c-brown: #a1845c;
$c-dark-brown: #6b5840;
$c-light-brown: #eacca0;

// lifestyle palette
$c-purple: #bb3b80;
$c-dark-purple: #7d0068;
$c-light-purple: #ffabdb;
