@mixin colourScheme($scheme, $c-main, $c-dark, $c-light) {
    .select__wrapper--#{$scheme} {
        .select-logo__select {
            fill: $c-main;
        }

        .select-logo__bracket-upper {
            fill: $c-dark;
        }

        .select-logo__bracket-lower {
            fill: $c-light;
        }

        .select__source {
            color: $c-main;
        }

        .select__source a:hover,
        .select__headline a:hover,
        .select__reason a:hover {
            border-bottom-color: $c-light;
        }

        .select__reason a {
            border-bottom-color: $c-main;
        }
    }
}

@include colourScheme('news', $c-news-main, $c-news-dark, $c-news-light);
@include colourScheme('opinion', $c-opinion-main, $c-opinion-dark, $c-opinion-light);
@include colourScheme('sport', $c-sport-main, $c-sport-dark, $c-sport-light);
@include colourScheme('lifestyle', $c-lifestyle-main, $c-lifestyle-dark, $c-lifestyle-light);
@include colourScheme('arts', $c-arts-main, $c-arts-dark, $c-arts-light);